.card {
    /*background-color: #ffffff;
    border-radius: 16px;*/
    /*    padding: 24px;*/
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px;
    border: 1px solid #f0f0f0;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.05), 0 8px 10px -6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    position: relative;
    min-width:300px;
    width:100%;*/
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    background-color: #ffffff;
    min-height: 100px;
    max-height: 400px;
    cursor: pointer;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.05), 0 8px 10px -6px rgba(0, 0, 0, 0.05);
    padding: 20px;
    border: 1px solid #ccc;
    position: relative;
    height:100%; 
    text-overflow:ellipsis;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -6px rgba(0, 0, 0, 0.04);
}

.title {
    margin: 0 0 10px 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #000000; /* Enrol (Black) */
    font-family: 'Inter', sans-serif;
    height:80px;
}

.description {
    font-size: 0.95rem;
    color: #64748b;
    line-height: 1.6;
    margin-bottom: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    flex: 1; /* take up available space */
    margin-bottom: 10px;
}

.button {
    background-color: #0056b3; /* Now (Blue) */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 0.85rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-top: 20px;
    bottom:10px;
    width:100%;
}

.button:hover {
    background-color: #004494;
}

.icon-btn {
    background: white;
    border: none;
    padding: 6px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: red;
    transition: all 0.2s ease;
}

.icon-btn svg {
    font-size: 18px;
}

.icon-btn.delete:hover {
    color: #e53935; /* red icon */
    background: rgba(229,57,53,0.1);
    border-radius: 50%;
}
.filter-section{
    border-bottom:1px solid #ccc;
    margin-bottom:14px;
}

