.login-page {
  background-image: url('../loginhero.png'); /* Place your image in /public folder */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-holder{
    padding:40px;
    display: flex;
    flex-direction: column;
    align-self: center;
    width:400px;
    background-color: white;
}
form{
    width:100%;
}
