/* src/components/Menubar.css */

nav {
  display: flex;
  flex-direction: column;
}

nav h2 {
  color: rgb(36, 61, 143);
}

.menubar {
  background-color: #f9fcff;
  padding: 10px 20px;
}

.menubar ul {
  list-style: none;
  display: flex;
  gap: 0; /* gap removed, we'll use margin */
  margin: 0;
  padding: 0;
}

.menubar li {
  padding-right: 30px;
  margin-left: 20px;
  border-right: 1px solid black
}

.menubar li:first-child {
  border-left: none;
  padding-left: 0;
  margin-left: 0;
}

.menubar li a {
  color: black;
  text-decoration: none;
  font-weight: bolder;
  font-size: 14px;
}

.menubar li a:hover {
  text-decoration: underline;
}
